# Disablie varnish because it makes updates impossible
Header add "disablevcache" "true"

# Redirect to www with https
RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]
