html {
  background: #191919;
  color: white;
  font-family: system-ui, segoe ui, sans-serif;
}

a {
  color: #f7d85f;
}

h1,
h2,
h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
p {
  margin: 1rem 0;
}

h1 {
  font-smoothing: antialiased;
}

.VideoGrid {
  display: flex;
  flex-flow: row wrap;
}

article video-placeholder {
  height: 100%;
}

*:focus {
  outline: 5px solid red;
}

.VideoGrid > * {
  width: 100%;
  padding: 1rem;
  /* border: 2px solid #f7d85f; */
  /* border: 1px solid #222; */
}

@media (min-width: 600px) {
  .VideoGrid > * {
    flex: 50%;
  }

  .VideoGrid > :nth-child(3n) {
    flex: 33.3333%;
  }
}

/* @media (min-width: 1024px) { */
/*   .VideoGrid > * { */
/*     flex: 33.33333%; */
/*   } */
/* } */
/* @media (min-width: 1450px) { */
/*   .VideoGrid > * { */
/*     flex: 25%; */
/*   } */
/* } */

video-placeholder > button {
  font-family: inherit;
  /* display: flex; */
}

video-placeholder > button img {
}

video-placeholder > button h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: 0;
  padding: 1em;
  color: white;
  font-weight: normal;
  letter-spacing: 0.05em;
}

video-placeholder:hover button h2 {
  background: black;
  color: #f7d85f;
}

.PlayButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em calc(50% - 40px);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms;
  background-image: linear-gradient(#000, transparent);
}

.PlayButton circle {
  transform: scale(0.95);
  transition: transform 150ms ease-in;
  transform-origin: center;
}

video-placeholder:hover .PlayButton circle {
  transform: scale(1);
}

video-placeholder:hover .PlayButton,
video-placeholder:focus .PlayButton {
  opacity: 1;
  /* background-image: linear-gradient(transparent, #000); */
}
